<head>
<title>HTML фон</title>
</head>
<body style="color:white; background-color:cornflowerblue">
<p style="color:#ffffff"</p>
</body>
{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Стеклорез - просто незаменимый инструмент для резки стекла любого вида и толщины. При помощи этого инструмента легко можно отрезать требуемый кусок стекла. На рынке строительных материалов существует несколько видов стеклорезов, которые отличаются друг от друга своим устройством и режущим элементом.

Чтобы это многообразие стеклорезов Вас не запутало, мы поможем Вам разобраться в принципе работы каждого из них.</p>

{% endblock %}
