<head>
<title>HTML фон</title>
</head>
<body style="color:white; background-color:cornflowerblue">
<p style="color:#ffffff"</p>
</body>
{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<div>
     <img src="{% static 'app/content/1.jpg ' %} "
</div>
<br>
<br>
<br>
<p ><h1 align="center">Наши партнеры</h1></p>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        
        <h2>"Стекло-Трейд"</h2>
        <p>
            Резка и обработка стекла в Москве – основная специализация стекольной мастерской ТД «Стеклотрейд». Резка производится по размерам Заказчика для всех видов стекла на современном оборудовании с соблюдением всех необходимых технологий.

Мы даем гарантию, что все заказы выполняем в срок оперативно и качественно с особой тщательностью и осторожностью.

Мы работаем с любым типом стекла, по любым шаблонам и размерам. Нужна резка стекла 4, 5, 6, 8, 10 мм? Она может производиться на заказ: для этого сначала оптимизируется раскрой, чтобы уменьшить потери стекла.
        </p>
        <p><a class="btn btn-default" href="https://steklotrade.com/rezka.html">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>"Стекло-Профи"</h2>
        <p class="master">В нашей мастерской можно вырезать изделие из стекла или зеркала нужного Вам размера на высокоточном оборудовании профессиональным инструментом. Ключевой особенностью заказа резки у нас является то, что мы не берем денег за саму эту процедуру. Стоимость изделия складывается из цены материала и других видов обработки (если они нужны), а сам раскрой в размер делается бесплатно.

Мы работаем только с качественными материалами и выполняем заказы быстро и с высокой точностью.</p>
        <p><a class="btn btn-default" href="https://steklo-profi.ru/obrabotka-stekla/rezka.html">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>"Стекло +"</h2>
        <p class="master1">Наша мастерская предлагает широкий ассортимент стёкол и стеклоизделий. Оптовая и розничная продажа стекла, недорого. У нас вы всегда можете купить оконное и листовое стекло, триплекс, тонированное, узорчатое, армированное стекло, сатинат, матовое и другое. В Москве, на 41-м километре МКАД, на нашем складе постоянное наличие, работаем без выходных.

Подробнее о продаже стекол.</p>
        <p>



        </p>
        <p><a class="btn btn-default" href="http://www.steklo-plus.ru/">Перейти &raquo;</a></p>
    </div>
</div>

{% endblock %}
{% block scripts %}{% endblock %}